@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&family=Nunito:wght@700&family=Oswald:wght@700&display=swap');



*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#fff;
}
header{
    background-color:#fff;
    }

ul{
    list-style:none;
}
nav li {
    display: inline-block;
    margin: 0 0 0 10px;    
}

a{
    text-decoration: none;
    color:black;
}

#cabecalho ul li a {
    margin-right: 5px;
    padding: 5px 20px;
    color: #000;

    cursor: pointer;
}

#cabecalho ul li a:hover {
    color: #00BFFF;
}
/*cidade */

#cidade{
    background-color: #E32A32;
    border: #E32A32 solid 20px;
    border-radius: 20px;
    margin-top: 5px;
}


#cidade span img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cidade h3{
    text-align: center;
    color: #fff;
    font-size: 24px;
}

#cidade p{
    text-align: center;
    color: #fff;
}

#cidade a{
    padding: 10px 30px;
    margin: 10px;
    border: #fff solid 1px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:200px;

    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.2rem;

}

/*cidade */

.colaboradores{
    margin-top: 20px;
    margin-left: 10%; 
    margin-bottom: 20px; 
}

#tony{
    float: left;
    width: 20%;
    margin-right:20px;
    margin-left: 10px;
    background-color: #dddddd;
}

#tony-img{
    border-radius: 80px;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#tony h3{
    color: red;
    text-align: center;
}
#tony p{
    text-align: center;
    font-size: 14px;
}

#mag{
    float: left;
    width: 20%;
    margin-right:20px;
    margin-left: 10px;
    background-color: #dddddd;
}

#mag-img{
    border-radius: 80px;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#mag h3{
    color: red;
    text-align: center;
}
#mag p{
    text-align: center;
    font-size: 14px;
}

#mick{
    float: left;
    width: 20%;
    margin-right:20px;
    margin-left: 10px;
    background-color: #dddddd;
    margin-bottom: 20px; 
}

#mick-img{
    border-radius: 80px;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#mick h3{
    color: red;
    text-align: center;
}
#mick p{
    text-align: center;
    font-size: 14px;
}

#dave{
    float: left;
    width: 20%;
    margin-right:20px;
    margin-left: 10px;
    background-color: #dddddd;
}

#dave-img{
    border-radius: 80px;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#dave h3{
    color: red;
    text-align: center;
}
#dave p{
    text-align: center;
    font-size: 14px;
}



#redes a img{
    width: 15%;
    display:inline-block;
    margin-left: 15%;
    margin-right: auto;
    
}

footer {
    margin-top: 30%;
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 100%;    
    text-align:center;
    line-height: 25px;
    }


#footer-1 a{
        color: #fff;
    }